.paperWrapper {
  z-index: 1;
  position: relative;
  margin: 60px auto;
}
.paper {
  margin: auto;
  background-color: white;
  z-index: 1;
  position: relative;
  background-size: cover;
  background-clip: border-box;
}