.editor-wrapper {
    margin: 60px auto;
    position: relative;
    width: 672px;
    height: 950px;
}

.editor {
    margin: 0 auto;
    background-color: #ffffff;
    width: 672px;
    height: 950px;
    position: relative;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.3);
}
