.draggable {
    position: absolute;
    border: thin solid #ccc;
    display: inline-block;
    font-size: 12px;
    cursor: move;
}

.draggable.active {
    border: none;

}

.resizeHandlerWrapper.active .handler {
    background-color: transparent;
    border: 1px dashed #6483ee;
    width: 10px  !important;
    height: 10px  !important;
}

.resizeHandlerWrapper.active .leftAndRight {
    background-color: #6483ee;
    width:  2px !important;

}

.resizeHandlerWrapper.active .topAndBottom {
    background-color: #6483ee;
    height:  2px !important;

}
