.tool-items {
    margin: 5px;
    padding: 10px;
    cursor: move;
    text-align: center;
    background-color: whitesmoke;
    z-index: 50000;
}
.tool-items.disabled {
    background-color: #ddd;
}
.tool-items:hover {
    background-color: #fff;
}
