@import "tailwind.css";
@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

body {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  background-color: #f1f1f1;
}
